# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Database
hackathon.db
hackathon.db-journal
reckon.db
reckon.db-journal

# Environment Secrets
.env

# Logs and Temp
*.log
server_log*.txt
logs.*.json
tmp/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/

# Secrets
railway_env_vars.txt
github-recovery-codes.txt
vapid.pem
private_key.pem
public_key.pem
